* {
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    margin: 0;
}

header {
    height: 100px;
    background-color: #00695C;
    color: #A7FFEB;
    line-height: 100px;
    margin-bottom: 20px;
    font-weight: 300;
    padding: 0 2em;
}

header .title {
    font-family: Consolas;
    word-spacing: .2em;
    font-size: 48px;
}

@media screen and (max-width: 700px){
    header .title{
        font-size: 28px;
    }
}

.app{
    position: relative;
    margin: 20px auto;
    width: 360px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.22),
    0 12px 25px 0 rgba(0,0,0,0.21);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-header{
    padding: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.header-title{
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 10px 0;
}

.header-desc{
    margin: 0;
    font-size: 14px;
}

.app-container{
    padding: 10px 20px;
    line-height: 1.6;
    will-change: transform;
    min-height: 200px;
}

.header-view .bg{
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

