*{
    box-sizing: border-box;
}
.left{
    float: left;
}
.right{
    float: right;
}
body{
    margin: 0;
}
header{
    height: 100px;
    background-color: #39a68d;
    color: #eee;
    line-height: 100px;
    margin-bottom: 20px;
    font-weight: 300;
    padding: 0 2em;
}

header .title{
    font-family:Consolas;
    word-spacing: .2em;
    font-size: 48px;
}
blockquote{
    background-color: #e1e1e1;
    border: 1px solid #ddd;
    border-radius: 3px;
    line-height: 25px;
    color: #888;
    margin: 0;
    padding: 0 10px;
}
blockquote p{
    margin: 5px;
}

.app{
    width: 1000px;
    height: calc(100vh - 150px);
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.editor{
    width: 50%;
    height: 100%;
    padding: 10px 20px;
    background-color: #444;
    color: #86d7c3;
    border:none;
    border-right: 1px solid #999;
    resize: none;
    float: left;
    outline:none;
    font-size: 18px;
    line-height: 30px;

}

.content{
    color: #444;
    padding: 10px 30px;
    float: left;
    width: 50%;
    background-color: #f1f1f1;
    border-left: none;
    height: 100%;
}

.content a{
    color: #39a68d;
    text-transform: none;
}


