html, body {
    height: 100vh;
}

body {
    display: flex;
}

button{
    height: 40px;
    line-height: 40px;
    min-width: 80px;
    font-size: 16px;
    color: #fff;
    background-color: #09e;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.lb-text{
    display: inline-block;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.lb-icon{
    display: inline-block;
    width: 26px;
    height: 100%;

    background: url("loading.svg") center no-repeat;
}



